! ------------------------------------------------------------------------------
! xterm standard arcolinux theme
! ------------------------------------------------------------------------------
! https://critical.ch/xterm/
! ------------------------------------------------------------------------------

xterm*faceName: Monospace
xterm*faceSize: 13
xterm*loginShell: true
xterm*saveLines: 4000
xterm*charClass: 33:48,35:48,37:48,43:48,45-47:48,64:48,95:48,126:48
xterm*termName: xterm-color
xterm*eightBitInput: false
xterm*foreground: rgb:d9/d4/d4
xterm*background: rgb:32/32/32
xterm*color0: rgb:00/00/00
xterm*color1: rgb:a8/00/00
xterm*color2: rgb:00/a8/00
xterm*color3: rgb:a8/54/00
xterm*color4: rgb:5f/81/9d
xterm*color5: rgb:a8/00/a8
xterm*color6: rgb:00/a8/a8
xterm*color7: rgb:70/78/80
xterm*color8: rgb:54/54/54
xterm*color9: rgb:fc/54/54
xterm*color10: rgb:54/fc/54
xterm*color11: rgb:fc/fc/54
xterm*color12: rgb:81/a2/be
xterm*color13: rgb:fc/54/fc
xterm*color14: rgb:54/fc/fc
xterm*color15: rgb:c5/c8/c6
xterm*boldMode: false


